body {
	background-color: #323232;
	overflow: auto;
	padding: 700;
}

ul {
	display: inline;
	margin-right:200px;
	margin: 10px;
}

li {
	display: inline;
	color: pink;
	font-family: cursive;
	font-size: large;
}

h1 {
	color: pink;	
	font-family: arial;
	font-size: 50px;
}

h3  {
	color: pink;
	font-family: arial;
	font-size: 20px;
	text-align: right;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: ;
	font-family:arial;
	font-size:20px;
	text-align:right;
	display:inline-block;
	width:250px;
	height: 250px;
	border: 2px solid;
}

p {  
	 color: pink;
	font-family: arial;
	text-align: left;
	height: 30;	
	position: absolute;
	right: 0px;
	border: 2px solid;
	width: 250px;
	padding: 50px;
	border: 5px solid gray;
	margin: 10px; 
	overflow: auto;
}

p1 { 
	color: red;
	background-color: pink;
	font-family: sans-serif;
}

p2  {
	color: red;
	background-color: pink;
	font-family: sans-serif;
}

#page-element {
	visibility: hidden;
}

#wrap {
   width:600px;
   margin:0 auto;
}

#left_col {
   float: left;
   width: 300px;
   font-family: sans-serif;
}

#right_col {
   float: right;
   padding-top: -150px;
   padding-right: 45px;
   width: 250px;
   font-family: sans-serif;
}

#background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#headerimage {
	width: 100%;
	height: 30%;
	padding-right: 200px;
}

#main {
	position: fixed;
	left: 25%;
	top: 0%;
	width: 50%;
	height: 100%;
	padding: 30px;
}

#overlay {
	position: fixed;
	left: 25%;
	top: 0%;
	width: 50%;
	height: 100%;
	background-color: #797979;
	opacity: 0.8;
	z-index: 0;
}
